<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Feed</title>
    <link href="/content/style.css" rel="stylesheet">
</head>
<body>
<div class="main">
    <div class="containerTest">
        <div class="row" th:each="item:${items}">
            <div style="padding: 15px">
                <p th:utext="${item.title}"></p>
                <p th:utext="${item.text}"></p>
                <img th:src="*{'data:image/png;base64,'+item.getImage()}" alt="">
                <p th:text="${item.getDateTime()}"></p>
                <input type="button" value="Edit" th:href="'/edit/'+${item.getId()}">
                <br>
                <hr>
            </div>
        </div>
    </div>
</div>
</body>
</html>