<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Registration</title>
    <link href="/content/style.css" rel="stylesheet">
    <style>
        a {
            color: #fff;
        }

        a:hover {
            text-decoration: none;
        }

        body:before {
            background: 0;
        }
    </style>
</head>
<body>
<form method="post">
    <div class="containerLogin">
        <form>
            <span class="TextLogin"><p>Регистрация</p></span>
            <input type="text" style="display: none">
            <div class="dws-input">
                <input type="text" name="username" placeholder="Введите логин">
            </div>
            <div class="dws-input">
                <input type="password" name="password" placeholder="Введите пароль">
            </div>
            <div class="dws-input">
                <input type="password" name="name" placeholder="Подтвердите пароль">
            </div>
            <input class="dws-submit" type="submit" name="submit" value="ВОЙТИ"><br/>
        </form>
    </div>
</form>
</body>
</html>